<ion-view view-title="Start">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="list">
            <div class="item horizontal_center content para">
                <p>the almanac is your best friend</p>
                <p>but first, lets test your worth</p>
                <p>find the password, get to the end</p>
                <p>unless you're here for mirth</p>
            </div>
            <div class="item content has-header" ng-include="'templates/forms/answerform.html'">
            </div>
    </ion-content>
</ion-view>
