<form name="addMessSecForm">
    <div class="list card vertical_center">
        <div>
            <label class="item item-input item-icon-right">
                <input type="text" ng-model="searchText" placeholder="Filter">
                <i class="icon ion-android-search"></i>
            </label>
        </div>
        <!-- Mess Secs -->
        <div id="secList">
            <div ng-repeat="sec in nameList | filter:searchText">
                <div class="item item-checkbox">
                    <label class="checkbox">
                        <input ng-model="sec.checked" type="checkbox" value="on">
                    </label>
                    {{sec.name}} ({{sec.branch}})
                </div>
            </div>
        </div>
        <!-- Buttons -->
        <span class="item button-bar">
            <!-- Submit -->
            <button ng-click="addSec()" ng-disabled="addMessSecForm.$invalid" class="button button-block button-calm ink activated" data-ink-color="#9DEAFF" data-ink-opacity="1">Submit</button>
        </span>
    </div>
</form>
