<form name="changePasswordForm">
    <div class="list card">
        <!--Current Password -->
        <label class="item item-input item-floating-label">
            <span class="input-label">Current Password</span>
            <input type="password" ng-model="user.pass" placeholder="Current Password">
        </label>
        <!-- Password -->
        <label class="item item-input item-floating-label">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.newpass" placeholder="Password">
        </label>
        <!-- Confirm Password -->
        <label class="item item-input item-floating-label">
            <span class="input-label">Confirm Password</span>
            <input type="password" ng-model="dummy.confPass" placeholder="Confirm Password">
        </label>
        <!-- Passwords don't match -->
        <label id="passwordmatch" ng-show="user.newpass!=dummy.confPass" class="item item-input item-floating-label">
            Passwords don't match
        </label>
        <!-- Submit -->
        <button ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid" class="item button button-block button-calm ink activated" data-ink-color="#9DEAFF" data-ink-opacity="1">
            Submit
        </button>
        <!-- </div> -->
    </div>
</form>
