<form name="editMessForm">
    <div class="list card vertical_center">
        <!-- No of days -->
        <label class="item item-input item-floating-label">
            <span class="input-label">No of Days</span>
            <input type="number" ng-model="details.no_of_days" placeholder="No of Days">
        </label>
        <!-- Establishment Fee -->
        <label class="item item-input item-floating-label">
            <span class="input-label">Establishment Fee</span>
            <input required type="number" ng-model="details.establishment" placeholder="Establishment Fee">
        </label>
        <!-- Cost Per Day -->
        <label class="item item-input item-floating-label">
            <span class="input-label">Cost Per Day</span>
            <input required type="number" ng-model="details.cost_per_day" placeholder="Cost Per Day">
        </label>
        <!-- Buttons -->
        <span class="item button-bar">
            <!-- Login -->
            <button ng-click="editMess()" ng-disabled="editMessForm.$invalid" class="button button-block button-calm ink activated" data-ink-color="#9DEAFF" data-ink-opacity="1">Submit</button>
        </span>
    </div>
</form>
