<ion-view view-title="Login" id="login" align-title="left">
    <ion-content>
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <!-- <h1>Icc Mess</h1> -->
            </div>
        </div>
        <div class="padding">
            <Button class="button button-full button-positive ink" ng-click="loginShow()">Login</Button>
            <Button class="button button-full button-positive ink" ng-click="register()">Register</Button>
        </div>

    </ion-content>
</ion-view>
