<ion-view view-title="DashBoard">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="card stable-bg list padding">
            <h4>Attendence and Cost</h4>
            <div ng-show="!nodata">
                <span class="item">
                Days Present : {{costDetails.daysPresent}} Days
                </span>
                <span class="item">
                Total Cost : {{costDetails.cost}} Rs
                </span>
            </div>
            <div ng-show="nodata">
                <span class="item">
                {{message}}
                </span>
            </div>
        </div>
        <div class="card stable-bg list padding">
            <h4>Current Mess</h4>
            <span class="item">
                Start Date : {{details.startDate}}
            </span>
            <span class="item">
                End Date : {{details.endDate}}
            </span>
            <span class="item">
                Duration : {{details.no_of_days}} Days
            </span>
        </div>
        <div class="card stable-bg list padding">
            <h4 ng-click="showAddSecPopover()"><i ng-show="profile.level>2" class="icon ion-edit"></i> Mess Sec</h4>
            <div ng-repeat="sec in details.sec">
                <span class="item">
                <div class="item item-button-right item-icon-left">
                    <div ng-click="deleteSec(sec.id, sec.name)">
                        <i class="ion-edit" ng-show="profile.level>2"></i> {{sec.name}}  ({{sec.branch}})
                    </div>
                    <button class="button button-balanced ink" ng-click="call(sec.phone)">
                        <i class="icon ion-ios-telephone"></i>
                    </button>
            </div>
            </span>
        </div>
        </div>
        <div ng-click="showEditMessForm()" class="card stable-bg list padding">
            <h4><i ng-show="profile.level>2" class="icon ion-edit"></i> Mess Costs</h4>
            <span class="item">
                Establishment Fee : {{details.establishment}} Rs
            </span>
            <span class="item">
                Per Day Cost : {{details.cost_per_day}} Rs
            </span>
        </div>
    </ion-content>
</ion-view>
