<ion-view view-title="DashBoard">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="card stable-bg list padding">
            <h4>Attendence and Cost</h4>
            <div ng-show="!nodata">
                <span class="item">
                Days Present : {{costDetails.daysPresent}} Days
                </span>
                <span class="item">
                Total Cost : {{costDetails.cost}} Rs
                </span>
            </div>
            <div ng-show="nodata">
                <span class="item">
                {{message}}
                </span>
            </div>
        </div>
        <div class="card stable-bg list padding">
            <h4>Current Mess</h4>
            <span class="item">
                Start Date : {{details.startDate}}
            </span>
            <span class="item">
                End Date : {{details.endDate}}
            </span>
            <span class="item">
                Duration : {{details.no_of_days}} Days
            </span>
            <h4 class="item item-divider">Mess Costs</h4>
            <span class="item">
                Establishment Fee : {{details.establishment}} Rs
            </span>
            <span class="item">
                Per Day Cost : {{details.cost_per_day}} Rs
            </span>
            <div ng-show="profile.level>2" class="item tabs tabs-secondary tabs-icon-left">
                <a ng-click="showEditMessForm()" class="tab-item" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-edit"></i> Edit
                </a>
            </div>
        </div>
        <div class="card stable-bg list padding">
            <h4>Mess Sec</h4>
            <div ng-repeat="sec in details.sec">
                <span class="item">
                <div class="item item-icon-right" ng-click="call(sec.phone)">
                        {{sec.name}}  ({{sec.branch}})
                        <i class="icon ion-ios-telephone-outline"></i>
                </div>
                </span>
            </div>
            <div ng-show="profile.level>2" class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="showAddSecPopover()" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-plus-round"></i> Add
                </a>
                <a class="tab-item" ng-click="showDeleteSecPopover()" data-ink-color="#336699" data-ink-opacity="0.5">
                    <i class="icon ion-close-round"></i> Remove
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
