<ion-view view-title="Inmate Cash Details">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="list padding">
            <ion-toggle ng-model="showOthers" toggle-class="item toggle-calm">Show Complete</ion-toggle>
            <label class="item item-input item-icon-right">
                <input type="text" ng-model="searchText" placeholder="Filter">
                <i class="icon ion-android-search"></i>
            </label>
            <div>
                <a ng-click="showinmateCostPopover(person)" ng-repeat="person in inmateList | filter:searchText" ng-show="person.status==1 || showOthers" class="item item-icon-right item-icon-left ">
                    <!-- icon -->
                    <i ng-show="person.status==0" class="icon ion-clock"></i>
                    <i ng-show="person.status==1 && showOthers" class="icon ion-checkmark-round"></i>
                    <i ng-show="person.status==2" class="icon ion-close-round"></i> {{person.name}} ({{person.branch}})
                    <p>{{person.bill}}</p>
                    <span class="badge badge-assertive">{{person.amount}}</span>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
